*{
    background-color: rgb(172, 255, 139);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}
header{
  display: inline-block;
    width: 50%;
}

header h2{
    margin-top: 15%;
    margin-left: 13%;
    margin-bottom: 0px;
    font-size: 3em;
    width: 70%;
}
header p{
  margin-top: 6%;
  margin-left: 13%;
  width: 60%;
    font-size: 1.5em;
    color: #181818;
}
header a{
  text-decoration: none;
}
header button{
    background-color: rgb(116, 255, 60);
    border-radius: 10px;
    width: 25%;
    height: 2.5em;
    border: none;
    margin-left: 13%;
    margin-top: 3%;
    font-size: 1.3em;
}
header button:hover{
  transform: scale(1.1);
  transition: all 0.5s;

}
 .fundo_fazendinha{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url('img/background.gif') center center no-repeat;
  background-size: cover;
  z-index: 1;
  filter: contrast(150%);
}

.fazendinha{
  width: 30%;
  float: right;
  z-index: 2;
  position: relative;
  background: transparent;
  margin-top: 10%;
  margin-right: 7%;
}
.celeiro{
  
    width: 85%;
    background-color: transparent;
}
.junimo2{
  width: 25%;
;
  
    background-color: transparent;
}
.galinha{
  width: 15%;

  ;
    background-color: transparent;
}
.vaquinha{
  width: 25%;

  ;
    background-color: transparent;
}
.junimo_rosa {
  width: 25%;
  margin-left: 70%;
  }
  @media (max-width: 1000px){
    .fazendinha {
      margin-top: 20%;
      margin-right: 8%;

  }

  }
  @media (max-width: 860px){
    header h2 {
      font-size: 2em;
  }
  header p {
    width: 70%;
}
header button{
  width: 45%;
}
    .fazendinha {
      width: 40%;
      margin-top: 20%;
      margin-right: 1%;

  }
  }
  @media (max-width: 600px){
    .fazendinha {
      margin-top: 40%;

  }
}
